body {
    background-color: #eee;
}

.cart-icon {
    font-size: 1.5rem;
}

.cartCount {
    position: relative;
    font-size: 10px;
    top: -10px;
    left: -10px;
}

.card img {
    height: 200px;
}